@import url('https://fonts.googleapis.com/css2?family=Alata&family=Geologica:wght@100;400&family=Josefin+Sans:wght@300&family=Sora&display=swap');

.LayoutContainer{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    font-family: 'Geologica', sans-serif;
    padding: 20px;

    .profilePhoto{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
    }
}

